<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>rrr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A5D8CC531BAE5B970044E96E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5D8CC6C1BAE5B970044E96E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5D8CC771BAE5B970044E96E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
